@import "./partial/variables";
@import "./partial/breakpoints";

.article,
.article-body {
  & {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    width: 100%;

    @include media-breakpoint-up($screen-name-md) {
      max-width: 920px;
    }
  }

  & > h1 {
    text-align: center;
  }
}

.article-body {
  img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
