@import "./partial/variables";
@import "./partial/breakpoints";

.site-head {
  flex-direction: column;
  align-items: baseline;
  grid-column: header;
  margin: 2rem auto;
  flex: 0 0 auto;
  display: flex;

  &__title {
    text-align: center;
    margin: 0 auto;
    display: block;

    h1,
    a {
      font-style: normal;
      line-height: 1.2;
      background: none;
      display: inline;
      font-size: 2em;
      flex: 1 1 auto;
      padding: 0;
      margin: 0;

      &,
      .font-fira-sans & {
        font-family: $font-site-head;
      }

      &:after {
        content: var(--logo-text);
        content: attr(data-site-title);
      }
    }

    :link,
    :visited {
      background: linear-gradient(
          to right,
          $link-underline-color,
          $link-underline-color 100%
        )
        repeat-x 0 #{$link-underline-position-y} / 10px 1px;
      text-shadow: 1px 0 $page-bg-color, 2px 0 $page-bg-color,
        -1px 0 $page-bg-color, -2px 0 $page-bg-color;
      text-decoration: none;
      border: none;
    }
  }

  &__menu {
    margin: 1rem auto 0 auto;
    justify-content: center;
    justify-self: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;

    * + * {
      margin-left: 1.5rem;
    }
  }
}
