<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
{{ if .IsHome }}
<title>{{ .Site.Title }}</title>
{{ else }}
<title>{{ .Title }}</title>
{{ end }}
<link rel="icon" href="/favicon.ico" />
<link rel="shortcut icon" href="/favicon.ico" />
<!-- x -->
{{ $css1 := resources.Get "css/normalize.css" }}
<!-- x -->
{{ $css2 := resources.Get "css/style.css" }}
<!-- x -->
{{ $css := slice $css1 $css2 | resources.Concat "css/all.css" | resources.Minify
| resources.Fingerprint }}
<!-- x -->
<link rel="stylesheet" href="{{ $css.Permalink }}" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap"
  media="print"
  onload="this.onload=null;this.media='all'"
/>
