@import "../../styles/partial/variables";
@import "../../styles/partial/breakpoints";

.list {
  display: flex;
  flex-direction: column;
}

.item {
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1.5em 0;
  display: flex;

  @include media-breakpoint-up($screen-name-sm) {
    flex-direction: row;
  }
}

.itemHead {
  margin: 0 auto 1em auto;
  max-width: 300px;
  display: block;
  width: 100%;

  @include media-breakpoint-up($screen-name-sm) {
    max-width: 200px;
    margin: 0 2em 0 0;
  }

  a,
  img {
    display: block;
    width: 100%;
  }

  img {
    height: auto;
  }
}

.itemMain {
  text-align: center;

  @include media-breakpoint-up($screen-name-sm) {
    text-align: left;
  }
}

.itemTitle {
  font-size: 1.2em;
}

.itemDescription {
  margin: 0.5em 0 0 0;
}
